.scale-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.scale-row {
  display: flex;
  flex-direction: row;
}
.scale-type-parameters {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
